* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  display: grid;
  place-items: center;
  height: 100vh;
}

a {
  color: #333333;
}
button {
  margin: 0.02cm;
  padding: 0cm;
  width: 2cm;
  height: 2cm;
  border: 4px;
}
#equal {
  width: 4cm;
}
#textinput {
  width: 8.12cm;
  height: 2cm;
}
.numbersRoot {
  display: grid;
  grid-template-columns: auto auto auto;
}
