* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.4;
  display: grid;
  place-items: center;
  height: 100vh;
}

a {
  color: #333333;
}
button {
  margin: 0cm;
  padding: 0cm;
  width: 2cm;
  height: 2cm;
  border: 4px;
}
#equal {
  width: 4.2cm;
  background-color: #278a38;
}
#textinput {
  width: 8.2cm;
  height: 2cm;
  background-color: #95b3cf;
  border-width: 0px;
  font-size: 1.3cm;
  font-family: "Quicksand", sans-serif;
  text-align: right;
  border-radius: 10px;
}
.numbersRoot {
  display: grid;
  grid-template-columns: 2.05cm 2.05cm 2.05cm 2.05cm;
  grid-template-rows: 2.05cm 2.05cm 2.05cm;
}

.multiply {
  display: table;
  vertical-align: middle;
}
#calculator {
  border-width: 0px;
  border-color: #333333;
  border-style: solid;
  background-color: #c2dcf5;
  border-radius: 10px;
}
.btn-info {
  border-width: 0px;
  border-color: #333333;
  border-style: solid;
  background-color: #69a9f3;
  font-size: 1.3cm;
  font-family: "Quicksand", sans-serif;
  border-radius: 1cm;
}
